.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $dark-background;

  &__container {
    @extend .container;
    @extend .container-flex;
  }
}

.address {
  margin-right: 70px;

  &__item {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }

  &__contact:not(:last-child) {
    margin-bottom: 9px;
  }
}

address {
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: $main-white-color;
}
