.logo-web {
  display: block;
  margin-right: 93px;

  color: $accent;
  font-family: $sec-font-family;
  font-weight: $bold-font-weight;
  font-size: 26px;
  line-height: 1.19;
}

.footer__logo-web {
  @extend .logo-web;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.logo-studio {
  @include logo-colorizing(#000000);
}

.footer__logo-studio {
  @include logo-colorizing($main-white-color);
}
